@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;

}

nav{
    background-color: rgb(16, 12, 12);
    color: aliceblue;
    height: 2.8rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Roboto',sans-serif;
}

nav ul{
    list-style-type:none;    
}

.gamecontainer{
    display: flex;
    justify-content: center;
    min-height: 91vh;
    background-color: rgba(48, 48, 48,0.95);
   
}
.gamecontainer::after{
    content: "";
    min-height: 91vh;
    width: 100%;
    background-image: url(./tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg);
    position: absolute;
    opacity: 0.5;
}

.container{
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'roboto';
    position: relative;
    margin: 50px 0;
}

.box{
    border: 3px solid rgb(9, 9, 9);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    -webkit-text-stroke: 3px rgb(135, 29, 240);
}

.box:hover{
    background-color: rgb(184, 241, 111);
}

.small{
    display: flex;
    justify-content: center;
}
.info{
    font-size: 25px;
    margin: 20px;
    padding: 10px 10px 0 10px;
    color: rgb(3, 3, 3);
    -webkit-text-stroke: 1px rgb(253, 250, 250);
}
.gameinfo{
    z-index: 1;
    padding: 34px;
    font-family: cursive;
}
.gameinfo h1{
    font-size: 2.5rem;
    color: aliceblue;
    -webkit-text-stroke: 2px rgb(78, 199, 199);
}
.image{
    display: flex;
    justify-content: center;
}
.image img{
    width: 0px;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 20px 20px;
    padding: 15px 35px;
    background-color: rgba(178, 171, 171,0.3);
    border: 2px solid white;
    color: aliceblue;
    font: 900 1.2rem cursive;
    border-radius: 10px;
    cursor: pointer;
}

.line{
    width: 0;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(175, 126, 232);
    transition: width 1s ease-in-out;
}

@media screen and (max-width:800px) {

    .gamecontainer{
        flex-wrap: wrap;
        height: 73rem;
    }
    .gamecontainer::after{
        content: "";
        height: 73rem;
        width: 100%;
        background-image: url(./tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg);
        position: absolute;
        opacity: 0.5;
    }
    .gameinfo{
        min-height: 30rem;
        position: absolute;
        top: 30rem;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
        height: 0rem;
    }
    .line{
        width: 0px;
    }
    .small{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .image{
        display: flex;
        justify-content: center;
    }
}